%li.web
  .info
    %header
      %h3= link_to "DailyDeal Mobile", "http://m.dailydeal.de/"
    .content
      %p
        Die mobile Webapplikation des Berliner Gutscheinanbieters DailyDeal ist in Zusammenarbeit
        mit Nico Hagenburger entstanden.
        Die Anwendung wurde insbesondere für Tablet-Devices (iPad, Android)
        und Smartphones (iPhone, Android) entwickelt.
      %p.task
        Entwicklung einer Single-Page-App mit CoffeeScript, HTML5, SASS und dem Javascript-MVC-Framework Backbone.js
        für mobile Endgeräte.
      %p.context
        Auftragsarbeit für die #{link_to "Hagenburger GmbH", "http://www.hagenburger.net"}
        %br
        Team: Eckhard Rotte
      %p.period
        Oktober 2011 - März 2012
  .meta
    %a{:href => 'http://m.dailydeal.de/'}
      %img{ :src => '/images/portfolio/dailydeal.png', :alt => 'DailyDeal Mobile' }

