%li.web
  .info
    %header
      %h3= link_to "Flächennutzungsplan Bremen", "http://www.fnp-bremen.de/"
    .content
      %p
        Wohin entwickelt sich die Stadt? Wo wird gebaut, wo soll Gewerbe angesiedelt werden und
        wo soll Platz für die Natur und Grün bleiben oder entstehen? Das Internetportal zeigt
        alle der rund 1.000 Änderungen auf einer interaktiven Karte und bietet die Möglichket,
        Anregung zu den in der Flächennutzungsplanung vorgeschlagenen Änderungen eingegeben zu
        können.
      %p.task
        Web-Entwicklung mit SilverStripe, Leaflet, HTML5, CSS3 und JavaScript, Integration der
        Kartendaten von GeoInformation Bremen in Gauß-Krüger-Projektion (EPSG:31467).
      %p.context
        Auftragsarbeit für die #{link_to "Planungswerkstatt BMO", "http://www.bmo-stadtundverkehr.de/"}
        %br
        Team: Bastian Fritsch und Stefan Schüßler
      %p.period
        November 2012 - Dezember 2012
  .meta
    %a{:href => 'http://www.fnp-bremen.de/'}
      %img{ :src => '/images/portfolio/fnp.png', :alt => 'Flächennutzungsplan Bremen' }
