%li.iphone.invert
  .info
    %header
      %h3= link_to "FTD MOBIL", "http://m.ftd.de/"
    .content
      %p
        Die #{link_to 'mobile Version der Financial Times Deutschland', 'http://m.ftd.de/'}
        ist auf Basis von Webtechnologie realisiert und wurde primär für das iPhone, Android
        und BlackBerry entwickelt.
      %p.task
        Entwicklung einer mobilen Single-Page Webapplikation mit JavaScript, Backbone.js,
        HTML5 und CSS3.
      %p.context
        Auftragsarbeit für die #{link_to 'Gruner + Jahr AG & Co KG', 'http://www.guj.de/'}
        %br
        Team: Eckhard Rotte und Dennis Reimann
  .meta
    %a{:href => 'http://m.ftd.de/'}
      %img{ :src => '/images/portfolio/ftd_iphone.png', :alt => 'Mobile Version der Financial Times Deutschland' }
    .veil
