%li.web
  .info
    %header
      %h3= link_to "Es Ist Deine Stärke", "http://www.es-ist-deine-staerke.de"
    .content
      %p
        In Zusammenarbeit mit Mirja Wenkelewsky (SCHRÖDERS BÜRO) haben Eckhard Rotte und
        Dennis Reimann die technische Realisierung der Berufs- und Lehrstellenbörse für
        die Kreishandwerkerschaft Bremen übernommen. Die Webplattform ermöglicht Handwerksbetrieben
        das Einstellen von Lehrstellen und richtet sich an Jugendliche, die auf der Suche nach
        Ausbildungs- oder Praktikumsplätzen sind.
      %p.task
        Beratung und Backend-Entwicklung mit Ruby on Rails. Frontend-Entwicklung mit HAML, Sass und jQuery
      %p.context
        Auftragsarbeit für #{link_to "SCHRÖDERS BÜRO", "http://schroeders-buero.de/"}
        %br
        Team: Dennis Reimann und Eckhard Rotte
  .meta
    %a{:href => 'http://www.es-ist-deine-staerke.de/'}
      %img{ :src => '/images/portfolio/khsbremen.png', :alt => "Berufs- und Lehrstellenbörse der Kreishandwerkerschaft Bremen" }
