%li.web
  .info
    %header
      %h3= link_to "Korkindustrie Trier", "http://dialog.korkinustrie.de/"
    .content
      %p
        Wohin entwickelt sich die Stadt? Wo wird gebaut, wo soll Gewerbe angesiedelt werden und
        wo soll Platz für die Natur und Grün bleiben oder entstehen? Das Internetportal zeigt
        alle der rund 1.000 Änderungen auf einer interaktiven Karte und bietet die Möglichket,
        Anregung zu den in der Flächennutzungsplanung vorgeschlagenen Änderungen eingegeben zu
        können.
      %p.task
        Applikationsentwicklung mit Ruby on Rails, MySQL und Twitter Bootstrap.
        %br
        Anbindung an ein bestehendes Warenwirtsschaftssystem.
      %p.context
        Auftragsarbeit für die #{link_to "Korkindustrie Trier", "http://www.korkindustrie.de/"}
        %br
        Team: Eckhard Rotte und Stefan Schüßler
      %p.period
        M 2012 - Dezember 2012
  .meta
    %a{:href => 'http://dialog.korkinustrie.de/'}
      %img{ :src => '/images/portfolio/korkindustrie.png', :alt => 'CRM-Webapp Korkindustrie Trier' }
