%li.web
  .info
    %header
      %h3= link_to "Korkindustrie Trier", "http://dialog.korkindustrie.de/"
    .content
      %p
        Die #{link_to "Korkindustrie Trier", "http://www.korkindustrie.de/"} ist spezialisiert auf Naturweinkorken und Sektkorken im hochwertigen Bereich.
        Wir haben für dieses Unternehmen eine CRM-Webapplikation für die Auftragserfassung und die Kundenkommunikation entwickelt.
        Dank einer Anbindung an ein Warenwirtschaftssystem können Kunden der Korkindustrie Trier nun den Status Ihrer Aufträge jederzeit
        einsehen und bei Bedarf direkt mit den Kundenservice in Kontakt treten.

      %p.task
        Applikationsentwicklung mit Ruby on Rails, MySQL und Twitter Bootstrap.
        %br
        Anbindung an ein bestehendes Warenwirtsschaftssystem.
      %p.context
        Auftragsarbeit für die #{link_to "Korkindustrie Trier", "http://www.korkindustrie.de/"}
        %br
        Team: Eckhard Rotte und Stefan Schüßler
      %p.period
        März 2013 - August 2013
  .meta
    %a{:href => 'http://dialog.korkindustrie.de/'}
      %img{ :src => '/images/portfolio/korkindustrie.png', :alt => 'CRM-Webapp Korkindustrie Trier' }
