%li.web
  .info
    %header
      %h3= link_to "Künker eLive Auction", "https://elive-auction.de/"
    .content
      %p
        Die Echtzeit-Auktionsplattform bietet den Kunden der Firma Fritz Rudolf Künker regelmäßig
        die Möglichkeit, direkt und unmittelbar am Erlebnis Münzauktion teilzunehmen und Ihre Sammlung
        um weitere Kostbarkeiten zu bereichern. Das Projekt wurde von Dennis Reimann und Stefan Schüßler
        realisiert.
      %p.task
        Beratung, Backend-Entwicklung mit Ruby on Rails und Frontend-Entwicklung mit HAML, Sass,
        CoffeeScript, Backbone.js und jQuery
      %p.context
        Auftragsarbeit für die #{link_to "Fritz Rudolf Künker GmbH & Co. KG", "http://www.kuenker.de/"}
        %br
        Team: Dennis Reimann und Stefan Schüßler
      %p.period
        seit Mai 2010
  .meta
    %a{:href => 'https://elive-auction.de/'}
      %img{ :src => '/images/portfolio/elive.png', :alt => "Künker eLive Auction" }
