%li.web
  .info
    %header
      %h3= link_to "MeAndYou", "http://www.meandyou.com/"
    .content
      %p
        Die Online-Datingplattform bietet ihren Kunden innovative Features zur Partnervermittlung.
        Marco Pantaleo, Dennis Reimann, Eckhard Rotte und Stefan Schüßler unterstützten das MeAndYou-Team bei der Realisierung der Benutzerverwaltung, des Chats und der Benachrichtigungsfunktionen.
      %p.task
        Backend-Entwicklung mit Ruby on Rails und Frontend-Entwicklung mit HAML, Sass,
        CoffeeScript und jQuery, Implementierung des Chat-Features mit Backbone.js,
        Beschleunigung der Applikationstests
      %p.context
        Auftragsarbeit für die #{link_to "MeAndYou GmbH", "http://www.meandyou.com/"}
        %br
        Team: Marco Pantaleo, Dennis Reimann, Eckhard Rotte und Stefan Schüßler
      %p.period
        Oktober 2011 - Januar 2012
  .meta
    %a{:href => 'http://www.meandyou.com/'}
      %img{ :src => '/images/portfolio/meandyou.png', :alt => 'MeAndYou' }

