%li#shopshopper.web
  .info
    %header
      %h3= link_to "Shopshopper", "http://shopshopper.net/"
    .content
      %p
        Das umfangreiche Online-Portal richtet sich an Kunden aus dem Convenience-Bereich und
        stellt branchenspezifische Tools und Hilfestellungen zur Verfügung.
        Es wurde zunächst von Marco Pantaleo und Stefan Schüßler konzipiert, gestaltet und entwickelt.
        Später stießen dann Dennis Reimann und Eckhard Rotte zum Team hinzu.
        Die gute Zusammenarbeit in diesem Projekt wurde zu einem der Grundsteine für die Appfertigung.

      %p.task
        Beratung und Backend-Entwicklung mit Ruby on Rails. Frontend-Entwicklung mit HAML und jQuery
      %p.context
        Auftragsarbeit für die #{link_to "Shopshopper GmbH", "http://shopshopper.net/"}
        %br
        Team: Marco Pantaleo, Dennis Reimann, Eckhard Rotte und Stefan Schüßler
      %p.period
        seit September 2008
  .meta
    %a{:href => 'http://shopshopper.net/'}
      %img{ :src => '/images/portfolio/shopshopper.png', :alt => "Shopshopper" }
