%li.web
  .info
    %header
      %h3= link_to "Waterfront Bremen", "http://waterfront-bremen.de/"
    .content
      %p
        Bastian Fritsch betreut die Website des Shopping- und Freizeitcenters Waterfront Bremen. Zu den Aufgaben gehört
        die Weiter&shy;entwicklung und Optimierung der Site, Konzeption und Entwicklung einer iPhone-Website und die
        Erstellung eines monatlichen Newsletters.
        Ein weiterer Aufgabenbereich sind die Beratung rund um das Thema Social Media sowie die Erstellung
        einer Facebook-Seite.
      %p.task
        Konzeptionelle Beratung, Web-Entwicklung mit MySQL und PHP, Konzeption und Entwicklung einer iPhone-Website
      %p.context
        Auftragsarbeit für die #{link_to "Limetree GmbH", "http://waterfront-bremen.de"}
        %br
        Team: Bastian Fritsch
  .meta
    %a{:href => 'http://waterfront-bremen.de/'}
      %img{ :src => '/images/portfolio/waterfront-bremen.png', :alt => "Waterfront Bremen" }
