%li.web
  .info
    %header
      %h3= link_to "DIE ZEIT Webshop", "http://shop.zeit.de/"
    .content
      %p
        Die Entwicklung und Betreuung des Webshop für DIE ZEIT
        war das erste gemeinsame Projekt von Dennis Reimann und Eckhard Rotte.
        Sowohl der Shop als auch das Adminis&shy;trationsbackend wurden mit Ruby on Rails entwickelt.
        Interessante Aufgabenstellungen waren dabei unter anderem die Anbindung von Drittanbietern
        über Web&shy;service-Schnittstellen und die Integration des Payment-Gateways.
      %p.task
        Backend-Entwicklung mit Ruby on Rails und PostgreSQL, REST- und SOAP-Webservices,
        Frontend-Entwicklung
      %p.context
        Festanstellung bei #{link_to "neuland bremen GmbH", "http://neuland-bfi.de/"}
        %br
        Team: Dennis Reimann und Eckhard Rotte
      %p.period
        Januar 2007 - Juni 2010
  .meta
    %a{:href => 'http://shop.zeit.de/'}
      %img{ :src => '/images/portfolio/zeitshop.png', :alt => "DIE ZEIT Webshop" }
