#footer
  #contact.col.vcard
    %h3
      Kontakt
    %p.adr
      %span.org Die Appfertigung
      %br
      %span.street-address Hansator 1
      \/
      %a.extended-address.url{:href => "http://abfertigung.de"} Abfertigung
      %br 
      %span.postal-code 28217 
      %span.locality Bremen
      %br
      %a.email{:href => 'mailto:mail@appfertigung.com'} mail@appfertigung.com
    %p
      %small
        %a{:href => '/impressum.html'} Impressum

  .col
    %h3
      Arbo von Monkiewitsch
    %ul
      %li
        %a{:href => "https://github.com/arbovm"} GitHub
      %li
        %a{:href => "https://twitter.com/arbovm"} Twitter
      %li
        %a{:href => "https://www.facebook.com/arbovm"} Facebook
      %li
        %a{:href => "https://www.xing.com/profile/Arbo_vonMonkiewitsch"} XING
  .col
    %h3
      Dennis Blöte
    %ul
      %li
        %a{:href => "https://github.com/dbloete"} GitHub
      %li
        %a{:href => "https://twitter.com/dbloete"} Twitter
      %li
        %a{:href => "https://www.facebook.com/dbloete"} Facebook
      %li
        %a{:href => "https://www.xing.com/profile/Dennis_Bloete"} XING
  .col
    %h3
      Eckhard Rotte
    %ul
      %li
        %a{:href => "https://github.com/erotte"} GitHub
      %li
        %a{:href => "https://twitter.com/erotte"} Twitter
      %li
        %a{:href => "https://www.facebook.com/erotte"} Facebook
      %li
        %a{:href => "https://www.xing.com/profile/Eckhard_Rotte"} XING