%footer#footer
  #kontakt.col.vcard
    %h3
      Kontakt
    %p.adr
      %span.org Die Appfertigung
      %br
      %span.street-address Hansator 1
      \/
      %a.extended-address.url{:href => "http://abfertigung.de"} Abfertigung
      %br 
      %span.postal-code 28217 
      %span.locality Bremen
      %br
      %a.email{:href => 'mailto:mail@appfertigung.com'} mail@appfertigung.com
    %p
      %small
        %a{:href => '/impressum.html'} Impressum
  #social.col
    %h3 Die Appfertigung auf…
    %ul
      %li
        %a{:href => "https://github.com/organizations/appfertigung"} GitHub
      %li
        %a{:href => "https://www.facebook.com/pages/Appfertigung/172304702813059"} Facebook
