%header#header
  %a#logo{:href => "/"}
    Appfertigung
    %small#claim
      Software, handgemacht
    
%nav#nav
  %ul
    %li#home
      %a{:href => "#appfertigung"} Appfertigung
    %li
      %a{:href => "#wie-wir-arbeiten"} Wie wir arbeiten
    %li
      %a{:href => "#team"} Das Team
    %li
      %a{:href => "#projekte"} Projekte &amp; Referenzen
    %li
      %a{:href => "#kontakt"} Kontakt