%section#imprint
  %header
    %h2 Impressum
  
  %h3 Inhaltlich Verantwortliche gemäß TMG und § 55 Abs. 2 RStV
  %p.adr
    %span.fn Dennis Reimann
    ,
    %span.fn Eckhard Rotte
    %br
    %span.org Appfertigung
    %br 
    %span.street-address Hansator 1
    \/
    %a.extended-address.url{:href => "http://abfertigung.de"} Abfertigung
    %br
    %span.postal-code 28217 
    %span.locality Bremen
    %br
    %a.email{:href => 'mailto:mail@appfertigung.com'} mail@appfertigung.com
  
  %p
    Die Appfertigung ist ein Zusammenschluss von Freiberuflern und selbstständigen Unternehmern und tritt nicht als eigenständiges Unternehmen auf.
    
  %br
  
  %h3 Haftungshinweis
  %p
    Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer
    Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
  
  %br
  
  %h3 Datenschutz
  %p
    Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. („Google“).
    Google Analytics verwendet sog. „Cookies“, Textdateien, die auf Ihrem Computer gespeichert werden
    und die eine Analyse der Benutzung der Website durch Sie ermöglichen. Die durch den Cookie erzeugten
    Informationen über Ihre Benutzung dieser Website (einschließlich Ihrer IP-Adresse) wird an einen
    Server von Google in den USA übertragen und dort gespeichert. Google wird diese Informationen
    benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten für die
    Websitebetreiber zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung
    verbundene Dienstleistungen zu erbringen. Auch wird Google diese Informationen gegebenenfalls an
    Dritte übertragen, sofern dies gesetzlich vorgeschrieben oder soweit Dritte diese Daten im Auftrag
    von Google verarbeiten. Google wird in keinem Fall Ihre IP-Adresse mit anderen Daten von Google in
    Verbindung bringen. Sie können die Installation der Cookies durch eine entsprechende Einstellung
    Ihrer Browser Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall
    gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich nutzen können. Durch die
    Nutzung dieser Website erklären Sie sich mit der Bearbeitung der über Sie erhobenen Daten durch
    Google in der zuvor beschriebenen Art und Weise und zu dem zuvor benannten Zweck einverstanden.
  
  %br
  
  %p
    %a{:href => '/'} zur Startseite
    