%header
  %hgroup
    %a#logo{:href => "/"}
      = img 'logo.png'
      %small#claim
        Software, handgemacht    
    
%section#main
      
  %h1 Headline
  
  %p
    :markdown
      [Einleitung]

  %h2 Die Abfertigung sind:

  %ul#appfertiger
    %li
      [Foto]
      Dennis Blöte
      [Text]
    %li
      [Foto]
      Arbo von Monkiewitsch
      [Text]
    %li
      [Foto]
      Eckhard Rotte
      [Text]

  %h2
    [Vorgehen]

  %h2
    [Projekte]
       
        
   
%footer
  .col
    %h3
      Kontakt
    %address
      :markdown
        Die Appfertigung 
        Hansator 1 
        28217 Bremen
        mail@appfertigung.com
  .col
    %h3
      Arbo von Monkiewitsch    
  .col
    %h3
      Dennis Blöte
  .col
    %h3
      Eckhard Rotte
    
    
        