%h1 
  This is our new
  %br
  %small tiny website

%h2
  Slogan! 
  
%p
  :markdown
    Wir können Ihnen helfen, Ihre Web-Applikation einfach, schnell und toll umzusetzen!
    
    Unter #{link_to "Fre", "http://dennisbloete.de"}#{link_to "un", "http://erotte.de"}#{link_to "den", "http://arbovm.de"}.

%h3
  Netz
%p
  Du möchtest uns näher kennenlernen? Dann schreib mir eine 
  %a{:href => "mailto:mail@erotte.de"} Mail 
  oder kontaktiere mich an anderer Stelle im Netz:
%ul
  %li
    Twitter
  %li
    Facebook
  %li
    Github
  %li
    Xing
  %li
    Flickr
    

    
   
#footer
  
  
        