
%section#intro
  %h3
    Die Appfertigung ist ein Team von Web- und Software-Professionals
  
  %h2 Wer wir sind und was wir tun
  %p  
    Wir entwickeln Anwendungen für das Web von heute und morgen. 
    
    Dabei bedienen wir uns modernster Technologien und Arbeitstechniken.
    
    Unser Schwerpunkt liegt dabei auf agiler Softwareentwicklung mit Ruby on Rails.

    Wir machen Ihre Ideen zu Software!

%section#how
  %h2 Wie wir arbeiten

  %h3 Stichworte
  :markdown
    * Prinzipien, Credo
    * Zusammenarbeit mit dem Kunden
      * kickoff workshop
    * Iterativer Prozess
    * pragmatisch 
    * Erfahrung
    * Qualität und Wartbarkeit
    * unterschiedliche Qualifikationen = breites Spektrum

%section#team
  %h2 Das Team  
  %ul
    %li
      %img{ :src => '/images/arbo_von_monkiewitsch.jpg', :alt => "Arbo von Monkiewitsch" }
      Arbo von Monkiewitsch is a Software Developer from Bremen/Germany
      currently working with JEE/Spring and Ruby on Rails. I'm interested
      in all kinds of programming languages and agile development. 
    %li
      %img{ :src => '/images/dennis_bloete.jpg', :alt => "Dennis Blöte" }
      Dennis Blöte ist Software-Entwickler und realisiert seit 7 Jahren
      Projekte im Bereich Webentwicklung sowie Anwendungen für mobile
      Endgeräte. Seine Tätigkeitsschwerpunkte sind die Anwendungsentwicklung
      mit Ruby on Rails, JavaScript und verschiedensten Datenbanksystemen.
      Neben seinen beruflichen Auftragstätigkeiten betreibt er mehrere
      eigene Projekte und engagiert sich im Bereich der Open Source-Software.
    %li
      %img{ :src => '/images/eckhard_rotte.jpg', :alt => "Eckhard Rotte" }
      Eckhard Rotte ist Software-Entwickler mit den Schwerpunkten Ruby on Rails und Frontend-Entwicklung. 
      Er entwickelt seit 1997 Webanwendungen. 
       
%section#projects
  %h2 Beispiele
  %ul
    %li Die ZEIT Shop
    %li Shoesizefinder
    %li Zendome

