%header
  %hgroup
    %a#logo{:href => "/"}
      die Appfertigung
      %small#claim
        gute Software, handgemacht    
    
%section#main
      
  %h1 Headline
  
  %p
    :markdown
      [Einleitung]

  %h2 Die Abfertigung sind:

  %ul#appfertiger
    %li
      [Foto]
      Dennis Blöte
      [Text]
    %li
      [Foto]
      Arbo von Monkiewitsch
      [Text]
    %li
      [Foto]
      Eckhard Rotte
      [Text]

  %h2
    [Vorgehen]

  %h2
    [Projekte]
        
   
%footer
  .col.vcard
    %h3
      Kontakt
    %address.adr
      %span.org Die Appfertigung
      %br 
      %span.street-address Hansator 1 
      %br 
      %span.postal-code 28217 
      %span.locality Bremen
      %br
      %a.email{:href => 'mailto:mail@appfertigung.com'} mail@appfertigung.com
  .col.vcard
    %h3
      Arbo von Monkiewitsch    
  .col.vcard
    %h3
      Dennis Blöte
  .col.vcard
    %h3
      Eckhard Rotte
    
    
        