%header
  %hgroup
    %a#logo{:href => "/"}
      = img 'logo.png', :alt => "Appfertigung" 
      %small
        [app dafür!]    
    
%section#main
      
  %h1 Headline
  
  %p
    :markdown
      Wir bauen Web-Applikationen. 
      Einfach, schnell und toll!
  %p
    Wir mögen das Internet. 

  %h2 Die Abfertigung sind:

  %ul
    %li
      Dennis Blöte
    %li
      Arbo von Monkiewitsch
    %li
      Eckhard Rotte
    
   
%footer
  %nav.meta 
  
        