%header
  %h1
    %a#logo{:href => "/"}
      die Appfertigung
      %small#claim
        gute Software, handgemacht    

#panel
  %section#intro
    %h2 Was wir tun:
    :markdown
      Wir entwickeln Software. Für das Web von heute und morgen. Für iOS oder andere mobile Platformen.
      Dabei bedienen wir uns modernster Technologien und Arbeitstechniken.
      Wir machen Ihre Idee zu Software!
    
      Stichworte
      ----------
    
      * Erfahrung
      * ständiges Lernen
      * Qualität und Wartbarkeit
      * unterschiedliche Qualifikationen = großes Spektrum

  %section#how
    %h2 Wie wir arbeiten:

  %section#team
    %h2 Wer wir sind:
    :markdown
      Die Abfertigung ist ein verteiltes Netz von Web- und Software-Professionals.
    %ul#appfertiger
      %li
        [Foto]
        Dennis Blöte
        [Text]
      %li
        [Foto]
        Arbo von Monkiewitsch
        [Text]
      %li
        [Foto]
        Eckhard Rotte
        [Text]
    :markdown
      Die Appfertigung ist ein offenes Netzwerk. 
          
  
  %section#projects
    %h2
      [Projekte]

  %section#netzwerk
    %h2 Unser Netz:
    :markdown
      * Notions
      * Railslove
      * Hamburger
   
%footer
  #contact.col.vcard
    %h3
      Kontakt
    %address.adr
      %span.org Die Appfertigung
      %br 
      in der 
      %a.extended-address.url{:href => "http://abfertigung.de"} Abfertigung
      %br 
      %span.street-address Hansator 1 
      %br 
      %span.postal-code 28217 
      %span.locality Bremen
      %br
      %a.email{:href => 'mailto:mail@appfertigung.com'} mail@appfertigung.com
  .col
    %h3
      Arbo von Monkiewitsch
    %ul
      %li
        %a{:href => "https://github.com/arbovm"} GitHub
      %li
        %a{:href => "https://twitter.com/arbovm"} Twitter
      %li
        %a{:href => "https://www.facebook.com/arbovm"} Facebook
      %li
        %a{:href => "https://www.xing.com/profile/Arbo_vonMonkiewitsch"} XING
  .col
    %h3
      Dennis Blöte
    %ul
      %li
        %a{:href => "https://github.com/dbloete"} GitHub
      %li
        %a{:href => "https://twitter.com/dbloete"} Twitter
      %li
        %a{:href => "https://www.facebook.com/dbloete"} Facebook
      %li
        %a{:href => "https://www.xing.com/profile/Dennis_Bloete"} XING
  .col
    %h3
      Eckhard Rotte
    %ul
      %li
        %a{:href => "https://github.com/erotte"} GitHub
      %li
        %a{:href => "https://twitter.com/erotte"} Twitter
      %li
        %a{:href => "https://www.facebook.com/erotte"} Facebook
      %li
        %a{:href => "https://www.xing.com/profile/Eckhard_Rotte"} XING
