%section#home
  %header
    %h1 Headline
  
  %p
    :markdown
      [Einleitung]

  %h2 Die Abfertigung sind:

  %ul#appfertiger
    %li
      [Foto]
      Dennis Blöte
      [Text]
    %li
      [Foto]
      Arbo von Monkiewitsch
      [Text]
    %li
      [Foto]
      Eckhard Rotte
      [Text]

  %h2
    [Vorgehen]

  %h2
    [Projekte]

