
%section#intro
  %h2 Was wir tun:
  :markdown
    Wir entwickeln Software. Für das Web von heute und morgen. Für iOS oder andere mobile Platformen.
    Dabei bedienen wir uns modernster Technologien und Arbeitstechniken.
    Wir machen Ihre Idee zu Software!

    Stichworte
    ---------

    * Erfahrung
    * ständiges Lernen
    * Qualität und Wartbarkeit
    * unterschiedliche Qualifikationen = großes Spektrum

%section#how
  %h2 Wie wir arbeiten

%section#team
  %h2 Wer wir sind
  %p
    Die Abfertigung ist ein verteiltes Netzwerk von Web- und Software-Professionals.
    
  %ul
    %li
      %img{ :src => '/images/dennis_bloete.jpg', :alt => "Dennis Blöte" }
      Dennis Blöte ist Software-Entwickler und realisiert seit 7 Jahren
      Projekte im Bereich Webentwicklung sowie Anwendungen für mobile
      Endgeräte. Seine Tätigkeitsschwerpunkte sind die Anwendungsentwicklung
      mit Ruby on Rails, JavaScript und verschiedensten Datenbanksystemen.
      Neben seinen beruflichen Auftragstätigkeiten betreibt er mehrere
      eigene Projekte und engagiert sich im Bereich der Open Source-Software.
    %li
      %img{ :src => '/images/arbo_von_monkiewitsch.jpg', :alt => "Arbo von Monkiewitsch" }
      Arbo von Monkiewitsch is a Software Developer from Bremen/Germany
      currently working with JEE/Spring and Ruby on Rails. I'm interested
      in all kinds of programming languages and agile development. 
    %li
      %img{ :src => '/images/eckhard_rotte.jpg', :alt => "Eckhard Rotte" }
      Eckhard Rotte ist Software-Entwickler mit den Schwerpunkten Ruby on Rails und Frontend-Entwicklung. 
      Er entwickelt seit 1997 Webanwendungen. 
       
%section#projects
  %h2 Projekte
  %ul
    %li Eins
    %li Zwei
    %li Drei

