%header
  %hgroup
    %h1 
      Deftly Ding
    %h2
      %small craftmanship – architecture - design
    %h2 a collaboration of web professionals   
  
%section#main
  
  %p
    :markdown
      Wir bauen Web-Applikationen. 
      Einfach, schnell und toll!
  %p
    Wir mögen das Internet. 

%h2 Wir sind

%ul
  %li
    Dennis Blöte
  %li
    Arbo von Monkiewitsch
  %li
    Eckhard Rotte
  

    
   
#footer
  
  
        