// @include fontsrc("MEgalopolis Extra","MEgalopolisExtraRegular/megalopolisextra-webfont")

= fontsrc($name, $path)
  @font-face
    font-family: $name
    src: url('#{$path}.eot')
    src: local('☺'), url('#{$path}.woff') format('woff'), url('#{$path}.ttf') format('truetype'), url('#{$path}.svg#ab12c33') format('svg')

=line-height($line-height, $font-size)
  line-height: $line-height / $font-size

=font-metrics($font-size, $line-height)
  font-size: $font-size
  +line-height($line-height, $font-size)

