@import "compass/css3"
@import "compass/reset/utilities"
@import "compass/utilities"

@import 'config'
@import 'lib'

@import '_modules/_fonts'
@import '_modules/_base'
@import '_modules/_layout'
@import '_modules/_projekte'
@import '_modules/_team'
@import '_modules/_footer'
@import '_modules/_facebook'


.conclusion
  margin-top: 1.25em
  text-align: center


#intro
  width: $wide-width
  font-size: 21px
  color: $heading-color
  text-align: center
  a
    color: $intro-link-color
    border-bottom: 2px dashed $intro-link-color
    &:hover
      text-decoration: none
      border-bottom: 2px dashed $dark-color

// Suppress line breaks in iPhone
@media only screen and (max-device-width: 480px)
  section, #intro,
  section#team ul > li.member
    width: auto
  #cycle
    width: 16rem
    height: 16rem
    margin: 20px
  #intro
    p:first-child
      br
        display: none

#cycle
  float: right
  margin: 30px -30px 30px 30px

#seam
  +clearfix
  height: 7px
  background: $dark-color url(../images/stitch_blue.png) 0 3px repeat-x

.veiled
  display: inline-block
  position: relative
  .veil
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    height: 5px
    background: url(/images/veil_left.png) top left no-repeat, url(/images/veil_right.png) top right no-repeat, url(/images/veil_center.png) top left repeat-x, #FFF
