@import "compass/css3"
@import "compass/reset/utilities"
@import "compass/utilities/general/min"
@import 'lib'
// include complete static awesome-fontstack 
// Todo: Achtung, hierwerden etliche Fonts eingebunden - ausmisten!
@import url('awesome-fonstack.css')

// Oder:
// @include fontsrc("MEgalopolis Extra","MEgalopolisExtraRegular/megalopolisextra-webfont")
  
// colors
$bg_gradient_start: #B5B7BD
$bg_gradient_stop: #ffffff

// instead of a global reset:
*
  margin: 0
  padding: 0
  border: 0 solid
  outline: 0

+reset-html5


html, body
  height: 100%
  
body
  +linear-gradient(color-stops($bg_gradient_start 15%, $bg_gradient_stop 40%, $bg_gradient_stop 100%))
  background-color: $bg_gradient_stop
  font-family: Kontrapunkt
  +font-metrics(16px, 24px)

header
  +linear-gradient(color-stops(#505462, #1d2335))
  height: 130px
  border-bottom: 2px solid white

#logo
  +inline-block
  margin: 10px 0 0 40px
  
section#main
  width: 900px
  background: darken(#eef5fc, 10%)
  +opacity(0.75)
  padding-top: 50px
  margin:
    left: 230px
  position: relative
  top: -50px
     
h1, h2
  font:
    family: TitilliumText22L

h1 
  font:
    size: 48px
  small
    font-size: 14px
    border-bottom: 1px solid #bbb
    
