@import "compass/css3"
@import "compass/reset/utilities"
@import "compass/utilities"
@import 'lib'
// Oder:

@include fontsrc("TitilliumText22L","/fonts/TitilliumText/TitilliumText22L001-webfont")
@include fontsrc("TitilliumText22L","/fonts/TitilliumText/TitilliumText22L002-webfont")
@include fontsrc("TitilliumText22L","/fonts/TitilliumText/TitilliumText22L003-webfont")
@include fontsrc("TitilliumText22L","/fonts/TitilliumText/TitilliumText22L004-webfont")
@include fontsrc("TitilliumText22L","/fonts/TitilliumText/TitilliumText22L005-webfont")
@include fontsrc("TitilliumText22L","/fonts/TitilliumText/TitilliumText22L006-webfont")

@include fontsrc("GentiumBasicRegular",    "/fonts/GentiumBasic/GenBasR-webfont")
@include fontsrc("GentiumBasicItalic",     "/fonts/GentiumBasic/GenBasI-webfont")
@include fontsrc("GentiumBasicBold",       "/fonts/GentiumBasic/GenBasB-webfont")
@include fontsrc("GentiumBasicBoldItalic", "/fonts/GentiumBasic/GenBasBI-webfont")

@include fontsrc("KontrapunktBold",        "/fonts/Kontrapunkt/Kontrapunkt-Bold-webfont")
@include fontsrc("KontrapunktLight",       "/fonts/Kontrapunkt/Kontrapunkt-Light-webfont")
@include fontsrc("KontrapunktLightItalic", "/fonts/Kontrapunkt/Kontrapunkt-LightItalic-webfont")


// colors
// http://kuler.adobe.com/#themeID/1183442

$dark: #036
$medium: #9dbdc6
$light: #daeaef
$spotcolor: #ff3d2e
$brace_color: #272F32

=headline
  font-family: TitilliumText22L
  color: $spotcolor
  font-weight: normal
*
  margin: 0
  padding: 0
  border: 0 solid
  outline: 0

+reset-html5

body
  height: 100%
  +linear-gradient(color-stops($medium 15%, $light 60%, white 100%))
  +font-metrics(16px, 24px)
  border-top: 5px solid $brace_color
  background-color: $light
  font-family: GentiumBasicRegular

small a
  text-decoration: none
  &:after
    content: " »"

header
  +linear-gradient(color-stops($dark, lighten($dark, 14%)))
  height: 140px
  border-bottom: 2px solid $medium

#logo
  +inline-block
  +unstyled-link
  +headline
  +text-shadow(darken($light, 12%), 1px, 1px, 2px)
  color: $light
  margin: 25px 0 0 40px
  font:
    size: 42px
    weight: bold
  line-height: 1.2  
  small
    +text-shadow(none)
    display: block
    color: $medium
    font:
      size: 16px
  +transition-property(text-shadow)
  +transition-duration(0.3s)
  +transition-timing-function(ease-in)    
  &:hover
    +text-shadow(darken($light, 22%), 4px, 4px, 8px)
      
#claim
  +text-shadow(none)
  color: $medium
  font-size: 16px
    
  
#panel
  width: 700px
  background: $light
  +min-height(60%)
  +box-shadow($dark, 0, 0, 5px)
  +border-radius(7px)
  +opacity(0.85)
  padding: 50px 30px
  margin:
    left: 260px
  position: relative
  top: -45px
     
h1, h2
  +headline

h1 
  font-size: 48px
h2
  margin-top: 22px

h3
  font-weight: normal
  
#team
  ul
    margin: 20px 0
    list-style: none
    li
      +clearfix
      img
        float: left
        margin: 0 1em 1em 0
        border: 8px solid white
        +box-shadow($dark, 0, 0, 4px)
    
footer
  +clearfix
  background: $dark
  overflow: auto
  color: $light
  padding: 20px
  a
    +hover-link
    +link-colors($medium, $spotcolor)
  .col
    +min-width(215px)
    float: left
    margin: 0 0 0 40px
  #contact
    margin-left: 0
  h3
    margin: 0 0 7px 0
    padding: 0 30px 0 3px
    border-bottom: 1px dotted $medium
    font-weight: normal
    color: white
  ul
    margin-left: 16px

#bottom
  padding: .5em 0
  text-align: center
  color: #FFF
  background: $brace_color
  a
    +link-colors(#FFF, $spotcolor)
    text-decoration: none