!!!
%html
  %head
    %title Appfertigung, Software-Entwicklung mit Ruby on Rails, JavaScript und HTML5
    %meta{ :content => 'text/html; charset=UTF-8', :'http-equiv' => 'Content-Type' }
    %meta{ :content => 'Die Appfertigung entwickelt Software für das Web - mit Ruby on Rails, JavaScript und HTML5', :name => "description" }
    %meta{ :content => 'Softwareentwicklung,Webentwicklung,Software,Entwicklung,Beratung,Ruby,Rails,Ruby on Rails,JavaScript,HTML5,CSS3,iOS,Mobile', :name => "keywords" }
    = stylesheets  
    = javascripts "https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"
    /[if IE]
      = javascripts "http://html5shiv.googlecode.com/svn/trunk/html5.js"
  %body
    = yield