%footer#footer
  #footwrap
    #kontakt.col.vcard
      %h3
        Kontakt
      %p.adr
        %span.org Die Appfertigung
        %br
        %span.street-address Am Wall 142
        %br
        %span.postal-code 28195
        %span.locality Bremen
        %br
        %a.email{:href => 'mailto:mail@appfertigung.com'} mail@appfertigung.com
      %p
        %small
          %a{:href => '/impressum.html'} Impressum
    #social.col
      %h3 Die Appfertigung auf…
      %a.twitter{:href => "https://twitter.com/appfertigung"} Twitter
      %a.facebook{:href => "https://www.facebook.com/appfertigung"} Facebook
    #facebook.col
      = # partial('facebook')
#seam
